.catalog {

	.entry {
		margin-bottom: $container-gutter-width;
		width: 100%;
		box-sizing: border-box;
		@include min-width( $screen-md ) {
			width: 50%;
			overflow: hidden;
		}
	}

	.entry:nth-of-type( odd ) {
		@include min-width( $screen-md ) {
			padding-right: $container-gutter-width;
		}
	}

	.entry:nth-of-type( even ) {
		@include min-width( $screen-md ) {
			padding-left: $container-gutter-width;
		}
	}

	.entry .thumbnail {
		display: block;
		position: relative;
	}

	.entry .thumbnail:hover {
		text-decoration: none;
	}

	.entry .wp-post-thumbnail {
		display: block;
		width: 100%;
	}

	.entry .price {
		@extend %pt-1;
		@extend %pb-1;
		@extend %pl-3;
		@extend %pr-3;
		@extend %lead;
		position: absolute;
		top: 0;
		right: 0;
		background-color: $brand-success;
		color: #fff;
		font-weight: bold;
	}

	.entry .permalink {
		@extend %button;
		@extend %button-primary;
	}

}