extend layout/_index


block variables
	- page.type = 'post singler';
	- page.title = 'Создать продукт';


block main
	.container
		h1 #{page.title}
		include parts/_breadcrumbs
		.content.pb-3
			include forms/_add