//-
	Каталог товаров


mixin catalog_entry( args )
	article.entry
		a.thumbnail( href='#' )
			img.wp-post-thumbnail( src=args.thumbnail alt=args.title )
			.price 15 000 грн
		h3.title #{args.title}]
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		a.permalink( href='#' ) Подробнее

.container.mt-3.mb-3.pt-3.pb-3
	
	h2.sr-only Каталог товаров

	.catalog.d-flex.flex-wrap

		+catalog_entry( { title: 'AFOX PCI-Ex Radeon RX 550 4GB GDDR5 (128bit)', thumbnail: src.userfiles + 'product01.jpg' } )
		+catalog_entry( { title: 'AFOX PCI-Ex GeForce GT730 2GB GDDR5 (128bit)', thumbnail: src.userfiles + 'product02.jpg' } )
		+catalog_entry( { title: 'Asus PCI-Ex Radeon RX 6500 XT Dual OC Edition 4GB GDDR6 (64bit)', thumbnail: src.userfiles + 'product03.jpg' } )
		+catalog_entry( { title: 'Asus PCI-Ex GeForce GT 730 2048MB GDDR5 (64bit)', thumbnail: src.userfiles + 'product04.jpg' } )
		+catalog_entry( { title: 'Gigabyte PCI-Ex GeForce GTX 1660 Ti OC 6GB GDDR6 (192bit)', thumbnail: src.userfiles + 'product05.jpg' } )
		+catalog_entry( { title: 'AFOX PCI-Ex GeForce GTX1060 6GB GDDR5 (192bit)', thumbnail: src.userfiles + 'product06.jpg' } )

	include _pagination